# Visual Studio basura
.vs/
[Bb]in/
[Oo]bj/
*.user
*.suo

# Logs de Serilog
**/Logs/
*.log
src/OrderManagement.API/orders.db

src/OrderManagement.API/orders.db-shm

src/OrderManagement.API/orders.db-wal
